.home {
    .btn-load-more-wrapper {
        display: flex;
        justify-content: center;

        .btn-load-more {
            margin-top: 28px;
            margin-bottom: 64px;
            width: 296px;
            height: 56px;
            justify-content: center;
        }
    }
}